<ng-container *transloco="let t; read: 'landing'">
  <mat-drawer-container>
    <mat-drawer #menu position="start" mode="over">
      <mat-nav-list>
        <a mat-list-item *ngFor="let page of pages" [routerLink]="page" (click)="menu.close()">
          {{t(page + '.title')}}
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item *ngFor="let page of legalPages" [routerLink]="['/legal', page]">
          {{'legal.' + page + '.title' | transloco}}
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar id="header">
        <mat-icon (click)="menu.open()" id="menu-handler">menu</mat-icon>
        <mat-icon>waving_hand</mat-icon>
        <span>&nbsp;{{ 'translate.title' | transloco }}</span>
        <nav>
          <a mat-button *ngFor="let page of pages" [routerLink]="page">
            {{t(page + '.title')}}
          </a>
        </nav>
        <a mat-raised-button routerLink="/" color="primary">{{t('try')}}</a>
      </mat-toolbar>

      <router-outlet></router-outlet>

      <mat-toolbar>
        <nav>
          <a mat-button *ngFor="let page of legalPages" [routerLink]="['/legal', page]">
            {{'legal.' + page + '.title' | transloco}}
          </a>
        </nav>

        <app-language-selector></app-language-selector>
      </mat-toolbar>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
