ion-toolbar {
  --background: transparent;
  height: 5em;
}

ion-title {
  text-align: center;

  ion-fab-button {
    margin: auto;
    --box-shadow: none;

    ion-icon {
      font-size: 5em;
    }
  }
}
