<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="translate">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="converse" [disabled]="true">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Converse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avatar" [disabled]="true">
      <ion-icon aria-hidden="true" name="sparkles"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
