<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="" [selected]="true">
      <ion-icon aria-hidden="true" name="swap-vertical-outline"></ion-icon>
      <ion-label>Translate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="converse" [disabled]="true">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Converse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avatar" [disabled]="true">
      <ion-icon aria-hidden="true" name="color-wand-outline"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
