<ng-container *ngIf="inputMode$ | async as inputMode">
  <ng-container *ngIf="inputMode === 'upload'">
    <ng-container *ngIf="videoState$ | async as videoState">
      <app-upload *ngIf="!videoState.src"></app-upload>
      <div *ngIf="videoState.src" class="interface">
        <div class="sign-language">
          <app-video [displayControls]="false" [displayFps]="false"></app-video>
        </div>
        <app-sign-writing [signs]="signWriting$ | async"></app-sign-writing>
        <div class="translation-text">{{ translation }}</div>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="inputMode === 'webcam'" class="interface">
    <div class="sign-language">
      <app-video [displayControls]="false" [displayFps]="false"></app-video>
    </div>

    <div class="translation-text">
      <div>Translation</div>
      <div>
        <app-text-to-speech [lang]="spokenLanguage$ | async" [text]="'Translation'"></app-text-to-speech>
      </div>
    </div>
  </div>
</ng-container>
