@use '../../../../theme/breakpoints' as breakpoints;

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.interface {
  display: grid;
  width: 100%;
  grid-template-areas: 'signed signwriting spoken';
  grid-template-columns: 1fr 100px 1fr;

  @media #{breakpoints.$breakpoint-lt-sm} {
    grid-template-areas: 'signed signed' 'spoken signwriting';
    grid-template-columns: 100px auto;
  }

  app-sign-writing {
    grid-area: signwriting;
    border-inline-end: 1px solid var(--app-divider-color);

    @media #{breakpoints.$breakpoint-lt-sm} {
      height: 235px;
    }
  }
}

.sign-language {
  grid-area: signed;
  display: flex;

  app-video {
    flex: 1;
  }
}

.translation-output {
  grid-area: spoken;
  display: flex;
  flex-direction: column;
}

.translation-text {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding: 20px 58px 20px 24px;
  color: #878787;
  font-size: 24px;
  line-height: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 150px;

  :first-child {
    flex-grow: 1;
  }
}

app-upload {
  text-align: center;
  padding: 43px 16px 65px;
  width: 100%;
}

app-video {
  width: 100%;
}
