@use '../../../../theme/breakpoints' as breakpoints;

:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px 0 16px;
  box-sizing: border-box;

  @media #{breakpoints.$breakpoint-lt-md} {
    margin: 0 8px;
  }
}
