<ng-container *transloco="let t; read: 'settings.other.appearance'">
  @if (settingsState$ | async; as settings) {
  <div id="appearance-options" [style.--appearance-scale]="scale">
    @for (appearance of appearances; track appearance.value) {
    <button
      mat-fab
      class="image"
      [style.backgroundImage]="'url(' + appearance.src + ')'"
      [attr.aria-label]="appearance.title"
      [matTooltip]="appearance.title"
      [disabled]="appearance.disabled"
      [class.selected]="settings.appearance === appearance.value"
      (click)="applySetting('appearance', appearance.value)"></button>
    }
    <!-- TODO "random" should open a dialog, using thispersondoesnotexist.com to create a random person -->
    <button mat-fab [attr.aria-label]="t('random')" [matTooltip]="t('random')" [disabled]="true">
      <ion-icon name="dice-outline"></ion-icon>
    </button>
    <!-- TODO "random" should open file selection to select a file from the device -->
    <button mat-fab [attr.aria-label]="t('upload')" [matTooltip]="t('upload')" [disabled]="true">
      <ion-icon slot="icon-only" name="images"></ion-icon>
    </button>
  </div>
  }
</ng-container>
