#appearance-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(70px * var(--appearance-scale)));
  gap: 1em;

  button {
    border: 0 solid white; /* For the animation */
    border-radius: 4px;
    width: calc(5em * var(--appearance-scale));
    height: calc(5em * var(--appearance-scale));
    transition: border 0.2s;

    &.image {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &.selected {
      border: 0.3em solid white;
    }

    &[disabled] {
      filter: grayscale(1);
    }

    mat-icon {
      scale: var(--appearance-scale);
    }
  }
}
