:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

app-video {
  border-radius: 8px;

  height: 720px;
  max-height: 45vw;

  &.aspect-4-3 {
    min-width: 288px;
    width: 960px;
    max-width: 60vw;
  }

  &.aspect-16-9 {
    min-width: 384px;
    width: 1280px;
    max-width: 80vw;
  }

  &.aspect-2-1 {
    min-width: 432px;
    width: 1440px;
    max-width: 90vw;
  }
}
