<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-content>
      <app-settings></app-settings>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          <ion-icon name="ear-outline" />
          {{ 'playground.title' | transloco }}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div id="video-page-container">
        <app-video></app-video>
      </div>
    </ion-content>
  </div>
</ion-split-pane>
