<div class="container">
  <div class="cards-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Our Mission</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Providing deaf people with assistive technology, enabling them to communicate naturally anywhere, anytime, in
        their own sign language.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Our Vision</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Removing communication barriers between deaf and hearing people, increasing their quality of life.
      </mat-card-content>
    </mat-card>
  </div>
</div>
