<div class="container">
  <div class="cards-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Our Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Providing deaf people with assistive technology, enabling them to communicate naturally anywhere, anytime, in
        their own sign language.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Our Vision</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Removing communication barriers between deaf and hearing people, increasing their quality of life.
      </ion-card-content>
    </ion-card>
  </div>
</div>
