.spacer {
  flex: 1 1 auto;
}

.auth-avatar {
  border-radius: 100%;
  cursor: pointer;
  width: 36px;
  height: 36px;
  overflow: hidden;

  :focus {
    outline: 0;
  }
}

#sign-in {
  text-transform: uppercase;
}

#auth-details {
  display: flex;
  margin-top: 4px; // mimicking the Google Meet UI

  div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 12px;
    font-weight: 400;
    padding-top: 2px;

    span {
      font-size: 14px;
      line-height: 16px;
    }

    a {
      font-size: 13px;
      line-height: 16px;
      cursor: pointer;
    }
  }
}
