@use '@angular/material' as mat;
@import '../../../../theme/variables';

:host {
  display: flex;
}

mat-tab-group {
  display: inline-block;
}

// Make language expansion menu show the correct icon
button.menu-icon-button {
  margin-top: 2px;

  mat-icon {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[aria-expanded] mat-icon {
    transform: rotateZ(-180deg);
  }

  @media (prefers-color-scheme: dark) {
    color: map-get(mat.$dark-theme-foreground-palette, icon);
  }
}

button.menu-language-button {
  display: none;

  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

@media #{$mat-lt-md} {
  button.menu-icon-button,
  mat-tab-group {
    display: none;
  }
  button.menu-language-button {
    display: block;
  }
}

::ng-deep {
  .mdc-tab {
    min-width: unset !important;
    text-transform: uppercase;
    padding: 0 16px !important;

    @media (prefers-color-scheme: dark) {
      color: map-get(mat.$dark-theme-foreground-palette, text);
    }

    &[aria-selected='true'] {
      color: mat.get-color-from-palette($app-primary);
      transition: color 0.2s;
    }
  }

  // Mat tab has a bug that when changing tabs, the height of the body is at least 1 px
  .mat-mdc-tab-body-wrapper {
    display: none !important;
  }

  .flag-icon {
    background-size: cover;
    border-radius: 50%;
    width: 1em;
    margin-inline-end: 0.5em;
  }

  .language-selector-menu {
    margin-top: 5px;
  }
}
