@use '../../../../theme/breakpoints' as breakpoints;

:host {
  display: flex;
  overflow: hidden;
}

mat-tab-group {
  display: inline-block;
}

/* Make language expansion menu show the correct icon */
ion-button.menu-icon-button {
  height: 100%;
  margin: 0;

  ion-icon {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[aria-expanded='true'] ion-icon {
    transform: rotateZ(-180deg);
  }
}

ion-button.menu-language-button {
  display: none;

  width: 100%;
  height: 100%;
  margin: 0;
}

@media #{breakpoints.$breakpoint-lt-md} {
  ion-button.menu-icon-button,
  mat-tab-group {
    display: none;
  }
  ion-button.menu-language-button {
    display: block;
  }
}

:host ::ng-deep div[role='tab'] {
  font-weight: 400;
  padding: 0 16px;
}

::ng-deep .language-selector-menu {
  max-height: calc(100vh - 64px - 68px - 48px) !important;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
