@use '@angular/material' as mat;
@import '../../../../theme/variables';

:host {
  display: flex;
}

mat-tab-group {
  display: inline-block;
}

// Make language expansion menu show the correct icon
button.menu-icon-button {
  mat-icon {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[aria-expanded='true'] mat-icon {
    transform: rotateZ(-180deg);
  }
}

button.menu-language-button {
  display: none;

  width: 100%;
  height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media #{$mat-lt-md} {
  button.menu-icon-button,
  mat-tab-group {
    display: none;
  }
  button.menu-language-button {
    display: block;
  }
}

:host ::ng-deep div[role='tab'] {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 16px;
}

::ng-deep .language-selector-menu {
  max-height: calc(100vh - 64px - 68px - 48px) !important;
}

button.menu-language-button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
