<mat-tab-group [(selectedIndex)]="selectedIndex"
               (selectedIndexChange)="selectLanguageIndex($event)"
               [disablePagination]="true">
  <mat-tab disabled label="Detect Language" *ngIf="hasLanguageDetection"></mat-tab>
  <mat-tab *ngFor="let lang of topLanguages" (select)="selectLanguage(lang)">
    <ng-template mat-tab-label>
      <flag-icon [country]="lang" *ngIf="flags"></flag-icon>
      {{translationKey + '.' + lang | transloco}}
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- Language button for small screens -->
<button mat-button [matMenuTriggerFor]="signedLanguagesMenu" class="menu-language-button" color="primary">
  <flag-icon [country]="language" *ngIf="flags"></flag-icon>
  {{translationKey + '.' + language | transloco}}
</button>
<!-- Expand icon for large screens -->
<button mat-icon-button [matMenuTriggerFor]="signedLanguagesMenu" class="menu-icon-button">
  <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #signedLanguagesMenu class="language-selector-menu">
  <button mat-menu-item *ngFor="let lang of languages" (click)="selectLanguage(lang)">
    <flag-icon [country]="lang" *ngIf="flags"></flag-icon>
    {{translationKey + '.' + lang | transloco}}
  </button>
</mat-menu>
