<div class="container">
  <div>
    <ion-badge color="light">Practical Uses</ion-badge>
    <h2>Use Cases for Everyday Life</h2>
    <p>
      Seamlessly overcome language barriers and engage with people from diverse linguistic and cultural backgrounds,
      wherever and whenever you need.
    </p>
    <ion-list>
      @for (customer of customers; track customer.key; let idx = $index) {
      <ion-item (click)="activeCustomer = idx" [class.selected]="activeCustomer === idx" button="true">
        <ion-icon [src]="logoPath(customer.key)" slot="end"></ion-icon>

        <ion-label>{{ customer.sector }}</ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
  <div class="use-case" [style.background-image]="'url(' + coverPath(customers[activeCustomer].key) + ')'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon [src]="logoPath(customers[activeCustomer].key)"></ion-icon>
          <h2>{{ customers[activeCustomer].company }}</h2>
        </ion-card-title>
        <ion-card-subtitle>{{ customers[activeCustomer].description }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</div>
