<ng-container *transloco="let t; read: 'translate'">
  <!--<app-appearance *ngIf="loadAppearance"></app-appearance>-->
  <mat-toolbar>
    <mat-icon>waving_hand</mat-icon>
    <span>&nbsp;{{ t('title') }}</span>
  </mat-toolbar>

  <div id="container">
    <div id="input-mode-group">
      <ng-container *ngIf="spokenToSigned">
        <app-translate-input-button mode="text" icon="translate"></app-translate-input-button>
      </ng-container>
      <ng-container *ngIf="!spokenToSigned">
        <app-translate-input-button mode="webcam" icon="videocam"></app-translate-input-button>
        <app-translate-input-button mode="upload" icon="upload"></app-translate-input-button>
      </ng-container>
    </div>

    <app-drop-pose-file>
      <div id="translation-card">
        <div id="language-selector">
          <app-language-selector
            [flags]="true"
            [hasLanguageDetection]="false"
            [languages]="translation.signedLanguages"
            translationKey="countries"
            urlParameter="sil"
            (languageChange)="setSignedLanguage($event)"></app-language-selector>

          <!-- disabled -->
          <button
            (click)="swapLanguages()"
            id="swap-languages"
            mat-icon-button
            [matTooltip]="t('swapLanguages')"
            [attr.aria-label]="t('swapLanguages')">
            <mat-icon>swap_horiz</mat-icon>
          </button>

          <app-language-selector
            [hasLanguageDetection]="spokenToSigned"
            [languages]="translation.spokenLanguages"
            translationKey="languages"
            urlParameter="spl"
            (languageChange)="setSpokenLanguage($event)"></app-language-selector>
        </div>

        <div id="content">
          <!-- Spoken to sign requires a text input and video output -->
          <app-spoken-to-signed *ngIf="spokenToSigned"></app-spoken-to-signed>
          <!-- Sign to spoken requires a video input and text output -->
          <app-signed-to-spoken *ngIf="!spokenToSigned"></app-signed-to-spoken>
        </div>
      </div>
    </app-drop-pose-file>

    <a id="feedback" href="https://github.com/sign/translate/issues" target="_blank">
      {{ t('feedback') }}
    </a>
  </div>
</ng-container>
