@use '@angular/material' as mat;
@import '../../../theme/variables';

:host {
  min-height: 100vh;

  @media #{$breakpoint-gt-xs} {
    &::before {
      background-color: map-get(mat.$grey-palette, 50);
      border-bottom: 1px solid map-get(mat.$light-theme-foreground-palette, divider);
      content: '';
      display: block;
      height: 162px;
      width: 100%;
      position: absolute;
      z-index: -1;

      @media (prefers-color-scheme: dark) {
        background-color: #151515;
        border-bottom: 1px solid map-get(mat.$dark-theme-foreground-palette, divider);
      }
    }
  }
}

mat-toolbar {
  overflow: hidden;
  transition: height 0.15s ease-out;

  span {
    flex: 1 1 auto;
  }
}

:host.keyboard-open mat-toolbar {
  height: 0;
}

.container {
  transition: 0.6s all cubic-bezier(0.4, 0, 0.2, 1);

  @media #{$breakpoint-gt-md} {
    padding: 0 48px;
  }

  #input-mode-group {
    height: 68px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    align-items: center;
    display: flex;
    gap: 0.5em;

    @media #{$breakpoint-lt-lg} {
      padding: 0 12px;
    }

    @media #{$breakpoint-lt-sm} {
      display: none;
    }
  }

  #translation-card {
    background-color: white;
    width: 100%;
    transition: 0.6s width cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.37);

    @media (prefers-color-scheme: dark) {
      background-color: #101010;
    }

    @media #{$breakpoint-gt-xs} {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.37);
    }

    @media #{$breakpoint-gt-md} {
      border-radius: 8px;
      overflow: hidden;
    }

    #language-selector {
      display: flex;
      border-bottom: 1px solid map-get(mat.$light-theme-foreground-palette, divider);

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid map-get(mat.$dark-theme-foreground-palette, divider);
      }

      app-language-selector {
        width: calc(50% - 24px);
      }

      #swap-languages[disabled] {
        opacity: 0.5;
      }
    }
  }
}

#feedback {
  float: right;
  color: map-get(mat.$light-theme-foreground-palette, text);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 8px 0;
  text-decoration: none;

  @media #{$breakpoint-lt-lg} {
    padding: 0 12px;
  }

  @media (prefers-color-scheme: dark) {
    color: map-get(mat.$dark-theme-foreground-palette, text);
  }
}

::ng-deep html[dir='rtl'] #feedback {
  float: left;
}

:host(.spoken-to-signed) {
  #language-selector {
    flex-direction: row-reverse;
  }
}
