::ng-deep body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:host {
  height: 100vh;

  &::before {
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    content: '';
    display: block;
    height: 162px;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}

mat-toolbar {
  background-color: white;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  font-family: "Product Sans", Arial, sans-serif;
  color: #5f6368;
  font-weight: 400;
}

#container {
  width: auto;
  max-width: 1280px;
  padding: 0 48px;
  margin: 0 auto;

  #input-mode-group {
    height: 68px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    align-items: center;
    display: flex;
    gap: .5em;

    button {
      transition: background-color .2s cubic-bezier(0.4, 0, 0.2, 1);

      &.selected {
        background-color: rgba(66, 133, 244, 0.12);
      }
    }
  }

  #translation-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    width: 100%;

    #language-selector {
      display: flex;
      border-bottom: 1px solid #0000001f;

      app-language-selector {
        width: calc(50% - 20px);

        // Make language expansion menu show the correct icon
        button.menu-button {
          mat-icon {
            transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &[aria-expanded] mat-icon {
            transform: rotateZ(-180deg);
          }
        }
      }
    }

    #swap-languages {
      color: #5f6368;
      margin-top: 3px;
    }

    #content {
      display: flex;


      div:not(:last-child) {
        border-right: 1px solid #0000001f;
      }

      .sign-language {
        width: 50%;
      }

      .translation-text {
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        padding: 20px 58px 20px 24px;
        color: #878787;
        font-size: 24px;
        line-height: 32px;
        flex: 1;
      }


      app-upload {
        text-align: center;
        padding: 43px 16px 65px;
        width: 100%;
      }

      app-video {
        width: 100%;

        &.aspect-4-3 {
          height: 480px
        }

        &.aspect-16-9 {
          height: 360px;
        }

        &.aspect-2-1 {
          height: 420px;
        }
      }
    }
  }
}


#feedback {
  float: right;
  color: #5f6368;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  margin: 8px 0;
  text-decoration: none;
}

:host(.spoken-to-signed) {
  #language-selector {
    flex-direction: row-reverse;
  }
}
