@import "../../../theme/variables";

::ng-deep body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

:host {
  height: 100vh;

  &::before {
    background-color: map-get($mat-grey, 50);
    border-bottom: 1px solid map-get($mat-light-theme-foreground, divider);
    content: '';
    display: block;
    height: 162px;
    width: 100%;
    position: absolute;
    z-index: -1;

    @media (prefers-color-scheme: dark) {
      background-color: #151515;
      border-bottom: 1px solid map-get($mat-dark-theme-foreground, divider);
    }
  }
}

mat-toolbar {
  box-sizing: border-box;
  background-color: black;
  border-bottom: 1px solid map-get($mat-dark-theme-foreground, divider);
  font-family: "Product Sans", Arial, sans-serif;
  font-weight: 400;

  @media (prefers-color-scheme: light) {
    background-color: white;
    border-bottom: 1px solid map-get($mat-light-theme-foreground, divider);
    color: map-get($mat-gray, 800);
  }
}

#container {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
  transition: .6s all cubic-bezier(0.4, 0, 0.2, 1);

  @media #{$mat-gt-md} {
    padding: 0 48px;
  }

  #input-mode-group {
    height: 68px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    align-items: center;
    display: flex;
    gap: .5em;

    button {
      transition: background-color .2s cubic-bezier(0.4, 0, 0.2, 1);

      &.selected {
        background-color: rgba(66, 133, 244, 0.12);
      }
    }

    @media #{$mat-lt-lg} {
      padding: 0 12px;
    }

    @media #{$mat-lt-sm} {
      display: none;
    }
  }

  #translation-card {
    background-color: white;
    overflow: hidden;
    width: 100%;
    transition: .6s all cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.37);

    @media (prefers-color-scheme: dark) {
      background-color: #101010;
    }

    @media #{$mat-gt-xs} {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }
    @media #{$mat-gt-md} {
      border-radius: 8px;
    }

    #language-selector {
      display: flex;
      border-bottom: 1px solid map-get($mat-light-theme-foreground, divider);

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid map-get($mat-dark-theme-foreground, divider);
      }

      app-language-selector {
        width: calc(50% - 20px);
      }
    }

    #swap-languages {
      color: map-get($mat-gray, 800);
      margin-top: 3px;
    }
  }
}


#feedback {
  float: right;
  color: map-get($mat-gray, 800);
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  margin: 8px 0;
  text-decoration: none;
  @media #{$mat-lt-lg} {
    padding: 0 12px;
  }

  @media (prefers-color-scheme: dark) {
    color: map-get($mat-gray, 400);
  }

}

:host(.spoken-to-signed) {
  #language-selector {
    flex-direction: row-reverse;
  }
}
