@use '../../../../../theme/breakpoints' as breakpoints;

h2 {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media #{breakpoints.$breakpoint-lt-md} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{breakpoints.$breakpoint-lt-sm} {
    grid-template-columns: 1fr;
  }
}

ion-card-title {
  display: flex;
  align-items: center;

  a {
    flex-grow: 1;
    text-align: end;
  }
}
