<div class="translation-text">
  <label id="spoken-language-label">{{ 'translate.spoken-to-signed.text' | transloco }}</label>
  <app-desktop-textarea dir="auto" [textControl]="text" [maxLength]="maxTextLength" [lang]="spokenLanguage" />
  <div id="suggestions" *transloco="let t; read: 'translate.suggestions'">
    @if (normalizedText$ | async; as normalizedText) {
    <ion-icon name="sparkles" color="primary"></ion-icon>
    <a (click)="setText(normalizedText)">{{ normalizedText }}</a>
    }
  </div>
</div>
