.translation-text {
  position: relative;
  height: 100%;
  padding: 20px 24px;
  flex: 1;

  > .actions-row {
    display: flex;
  }

  > #suggestions {
    position: absolute;
    bottom: 60px;

    width: 100%;
    left: 0;
    right: 0;
    padding: 0 24px;

    ion-icon {
      padding: 0 4px;
    }

    a {
      cursor: pointer;
    }
  }
}

#spoken-language-label {
  display: none;
}

#char-count {
  flex-grow: 1;
  align-self: center;
  text-align: end;
  font-size: 12px;
  line-height: 40px;
  padding-inline: 10px;
  white-space: nowrap;
}

/* Numbers should always be left-to-right */
::ng-deep html[dir='rtl'] #char-count {
  direction: ltr;
  text-align: start !important;
}

ion-textarea#mobile {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 20px;
  --padding-start: 10px;
  --highlight-color: var(--ion-color-primary);

  &.sc-ion-textarea-ios-h {
    /* Address strange height on iOS */
    min-height: initial;

    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: #202124;
    }
  }
}
