:host {
  width: 100px !important;
  text-align: center;
  padding: 20px 0;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

fsw-sign {
  direction: ltr;
  display: block;
  margin: 20px 0;

  user-select: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  -webkit-touch-callout: none; /* Safari Touch */

  ::ng-deep text[font-size="0"] {
    display: none;
  }
}
