:host {
  text-align: center;
  overflow-y: auto;
  height: 100%;
  position: relative;

  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

#signs {
  padding: 20px 0;
  width: 100%;
  font-size: 24px;
  position: absolute;
}

fsw-sign {
  direction: ltr;
  display: block;
  margin: 20px 0;

  user-select: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  -webkit-touch-callout: none; /* Safari Touch */
}
