<div class="container">
  <div class="header">
    <h2>FAQ</h2>
    <p>
      Find answers to common questions about sign, our AI-powered sign language translation platform. Learn more about
      our features, services, and how we support businesses and organizations in making communication more accessible.
    </p>
  </div>

  <ion-accordion-group>
    @for (question of questions; track question) {
      <ion-accordion>
        <ion-item slot="header" class="faq-item">
          <ion-label>{{ question.question }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>{{ question.answer }}</p>
          @if (question.steps) {
            <ol>
              @for (step of question.steps; track step) {
                <li>{{ step }}</li>
              }
            </ol>
          }
        </div>
      </ion-accordion>
    }
  </ion-accordion-group>

  <div class="footer">
    <p>Want to ask a different question?</p>
    <a href="mailto:hello@sign.mt">hello&#64;sign.mt</a>
  </div>
</div>
