@use '../../../../theme/breakpoints' as breakpoints;

:host > * {
  display: block;
  padding: 50px;
  padding-top: 0;

  @media #{breakpoints.$breakpoint-lt-md} {
    padding: 50px 25px;
  }
}

app-stores {
  text-align: center;
}
