@use '@angular/material' as mat;
@import '../../../../theme/variables';

:host > * {
  display: block;
  padding: 50px;

  @media #{$mat-lt-md} {
    padding: 50px 25px;
  }

  &:nth-child(2n + 1) {
    background-color: map-get(mat.$grey-palette, 50);
    @media (prefers-color-scheme: dark) {
      background-color: #151515;
    }
  }
}

app-stores {
  text-align: center;
}
