<div id="direction-grid">
  <img src="assets/promotional/about/direction-android.png" aria-labelledby="translate-spoken-signed" />
  <div>
    <h2 id="translate-spoken-signed">
      <mat-icon>chevron_left</mat-icon>
      Translate from spoken to signed languages
    </h2>

    <h2 id="translate-signed-spoken">
      Or from signed to spoken languages
      <mat-icon>chevron_right</mat-icon>
    </h2>
  </div>
  <img src="assets/promotional/about/direction-ios.png" aria-labelledby="translate-signed-spoken" />
</div>
