<div id="direction-grid">
  <img [src]="this.androidScreenshot" aria-labelledby="translate-spoken-signed" />
  <div>
    <ng-container *transloco="let t; read: 'landing.about.direction'">
      <h2 id="translate-spoken-signed">
        <mat-icon class="rtl-flip">chevron_left</mat-icon>
        {{ t('spoken-to-signed') }}
      </h2>

      <h2 id="translate-signed-spoken">
        {{ t('signed-to-spoken') }}
        <mat-icon class="rtl-flip">chevron_right</mat-icon>
      </h2>
    </ng-container>
  </div>
  <img [src]="this.iOSScreenshot" aria-labelledby="translate-signed-spoken" />
</div>
