@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import "./variables";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($app-dark-theme);
}

@import "fonts/material-icons.css";
@import "fonts/roboto.css";


html, body {
  height: 100%;
  // Does not work in iOS PWA, requires hijacking javascript
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 50);
}

app-root {
  height: 100%
}

button[mat-icon-button] {
  color: map-get(mat.$light-theme-foreground-palette, icon);
  @media (prefers-color-scheme: dark) {
    color: map-get(mat.$dark-theme-foreground-palette, icon);
  }
}
