@import '../../../../../theme/variables';

.cards-container {
  border-radius: 14px;
  overflow: hidden;

  > div {
    flex: 1;

    &:first-child {
      padding: 2rem;
    }

    &.video-container {
      background: var(--ion-color-light);
      display: flex;
      align-items: center;
      @media #{$breakpoint-lt-sm} {
        max-width: 512px;
      }
    }
  }
}

pre {
  background: #282828;
  color: #66ff66;
  border-radius: 16px;
  padding: 32px;
  direction: ltr;
}

video {
  display: block;
  margin: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 512px;
}

.container {
  --container-background: white;
  @media (prefers-color-scheme: dark) {
    --container-background: black;
  }

  $border: 2px;
  position: relative;
  box-sizing: border-box;
  background: var(--container-background);
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to bottom left, var(--ion-color-primary), var(--container-background));
  }
}
