<div class="container">
  <div class="cards-container">
    <div>
      <h2>Plug into our API</h2>
      <p>
        Our API enables seamless translation of text to video, allowing for natural communication in
        <b>any language</b>.
      </p>
      <pre><code>{{ code }}</code></pre>
      <ion-button
        href="https://app.swaggerhub.com/apis/AmitMoryossef/sign_mt/1.0.0"
        target="_blank"
        shape="round"
        color="light">
        Documentation
        <ion-icon slot="end" name="book"></ion-icon>
      </ion-button>
      <ion-button href="mailto:contact@sign.mt" target="_blank" shape="round">
        Join the closed beta
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
    <div class="video-container">
      <!-- TODO: add appearance selector -->
      <video [src]="videoUrl" autoplay muted loop></video>
    </div>
  </div>
</div>
