:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  --poster-color: transparent;
  --progress-mask: transparent;
  --progress-bar-color: var(--ion-color-primary);
}
