@use '@angular/material' as mat;
@import '../../../../../theme/variables';

:host {
  display: block;
}

pose-viewer {
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;

  color: map-get(mat.$light-theme-foreground-palette, text);

  @media (prefers-color-scheme: dark) {
    color: map-get(mat.$dark-theme-foreground-palette, text);
  }
}
