@use '../../../../../theme/breakpoints' as breakpoints;

.container {
  text-align: center;
}

.cards-container {
  margin-top: 32px;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);

  @media #{breakpoints.$breakpoint-lt-md} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{breakpoints.$breakpoint-lt-sm} {
    grid-template-columns: 1fr;
  }
}

ion-card {
  max-width: 280px;
  border-radius: 16px;
}

ion-avatar {
  margin: auto;
}

p {
  max-width: 468px;
  margin: auto;
}

ion-avatar {
  width: 140px;
  height: 140px;
}

ion-badge {
  padding: 2px 6px;
  position: absolute;
  left: 8px;
  top: 8px;
  border-radius: 1rem;
  font-weight: normal;
}
