@use '../../../../../theme/breakpoints' as breakpoints;

.container {
  text-align: center;
}

.cards-container {
  justify-content: center;
  margin-top: 32px;
}

ion-card {
  max-width: 280px;
  text-align: center;
  border-radius: 16px;
  @media #{breakpoints.$breakpoint-lt-md} {
    margin-left: auto;
    margin-right: auto;
  }
}

ion-avatar {
  margin: auto;
}

p {
  max-width: 468px;
  margin: auto;
}

ion-avatar {
  width: 140px;
  height: 140px;
}

ion-badge {
  padding: 2px 6px;
  position: absolute;
  left: 8px;
  top: 8px;
  border-radius: 1rem;
  font-weight: normal;
}
