span {
  background-size: cover;
  border-radius: 50%;
  width: 1em;
  margin-inline-end: 0.5em;
}

// Flags, Missing "isl" TODO read from some file? supported languages
$include: (
  'sy',
  'by',
  'bg',
  'cn',
  'hr',
  'cz',
  'dk',
  'in',
  'nz',
  'gb',
  'us',
  'ee',
  'fi',
  'fr',
  'at',
  'de',
  'cy',
  'gr',
  'is',
  'it',
  'jp',
  'lv',
  'lt',
  'ir',
  'pl',
  'br',
  'pt',
  'ro',
  'ru',
  'sk',
  'ar',
  'cl',
  'cu',
  'mx',
  'es',
  'se',
  'tr',
  'ua',
  'pk'
);
$flag-icons-path: '/assets/flags';

@import 'flag-icons/sass/flag-icons';
