<footer>
  <div class="container">
    <div class="brand">
      <a href="https://nagish.com" target="_blank"><h3>Nagish.com</h3></a>
      <a href="mailto:sign@nagish.com" target="_blank">sign&#64;nagish.com</a>
      <!-- Language selector is disabled until better support is added
      <br />
      <app-i18n-language-selector /> -->
    </div>

    <div class="legal" *transloco="let t; read: 'legal'">
      <h3>{{ t('title') }}</h3>
      <ul>
        @for (page of legalPages; track page) {
          <li>
            <a [routerLink]="['/legal', page]" queryParamsHandling="preserve">
              {{ t(page + '.title') }}
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="social">
      <h3>Find Us</h3>
      <ul>
        <li><a href="https://x.com/NagishSign" target="_blank">Twitter (X)</a></li>
        <li><a href="https://www.linkedin.com/company/sign-mt" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/sign" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
