@import '../../../../theme/variables';

footer {
  background-color: #141518;
  color: #ffffff;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  gap: 32px;
  grid-template-areas: 'brand legal social';

  @media #{$breakpoint-lt-sm} {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'brand brand'
      'legal social';
  }
}
.brand {
  grid-area: brand;
}
.legal {
  grid-area: legal;
}
.social {
  grid-area: social;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 12px 0;
    color: #ccc;
  }
}

a {
  color: #bbb;
  text-decoration: none;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}

app-i18n-language-selector {
  border: 1px solid white;
  display: inline-block;
  border-radius: 16px;
  padding: 4px;
  margin-top: 32px;
}
