<footer>
  <div class="container">
    <div class="brand">
      <h6>sign.mt</h6>
      <a href="mailto:hello@sign.mt">hello&#64;sign.mt</a>
      <br />
      <app-i18n-language-selector />
    </div>

    <div class="legal" *transloco="let t; read: 'legal'">
      <h6>{{ t('title') }}</h6>
      <ul>
        @for (page of legalPages; track page) {
        <li>
          <a [routerLink]="['/legal', page]" queryParamsHandling="preserve">
            {{ t(page + '.title') }}
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="social">
      <h6>Find Us</h6>
      <ul>
        <li><a href="https://twitter.com/signmt_" target="_blank">Twitter (X)</a></li>
        <li><a href="https://www.linkedin.com/company/sign-mt" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/sign" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
