@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// variables
$background-color: #181818;
$font-family: 'Inter', sans-serif;
$primary-color: #21ddd1;
$button-background-color: #3e3e3e;
$button-border-radius: 30px;

ion-content {
  --ion-background-color: $background-color; // Set background color for ion-content
  --ion-color-base: $primary-color; // Set base color for ion-content text
  --ion-color-primary: $primary-color;
}

// base styles
body {
  background-size: cover;
  background-color: $background-color;
  font-family: $font-family;
  justify-content: center;
  align-items: center;
}

.main-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('darkwallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

h1 {
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 130px;
}

form {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  margin-top: 80px;

  input {
    padding: 10px 15px; // Existing padding
    margin-top: 10px;
    border: 2px solid $primary-color; // Existing border
    border-radius: 50px; // Existing rounded corners
    background-color: rgba(255, 255, 255, 0);
    outline: none; // No focus outline
    width: 250px; // Initial width
    transition: width 0.5s, background-color 0.5s, border-radius 0.5s, color 0.5s; // Transition for smooth effect

    &:hover {
      width: 300px; // Increase width on hover
      background-color: rgba(192, 192, 192, 0.245); // Change background color on hover
      border-radius: 30px; // Change border radius on hover
      color: $primary-color; // Change text color on hover
    }

    &:focus {
      border-color: darken($primary-color, 10%); // Darken border color on focus
    }
  }
}

ion-button {
  --background: $button-background-color;
  --border-color: $primary-color;
  --border-radius: $button-border-radius;
  cursor: pointer;
  margin-top: 10px;
  font-size: large;

  &:hover {
    background-color: $primary-color;
  }
}

// .searchBackground {
//     /* border: 1px solid red; */
//     height: 20%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .searchSection {
//     width: 80vw;
//     font-size: 2.5em;
//     color: rgba(255, 255, 255, 1);
//     position: relative;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     flex-direction: column;
//     align-content: center;
// }

// .searchSection:hover {
//     color: rgba(255, 255, 255, 1); // Maintain color on hover
// }

// .searchbox {
//     position: relative;
// }

// .searchinput {
//     margin-left: 20px;
//     padding: 10px;
//     width: 70px;
//     height: 70px;
//     background: none;
//     border: 4px solid white;
//     border-radius: 50px; // Circular input initially
//     box-sizing: border-box;
//     font-size: 26px;
//     color: rgba(230, 255, 8, 0.0); // Initially transparent text
//     outline: none;
//     transition: .5s; // Smooth transition for stretching effect
// }

// .searchbox:hover .searchinput {
//     color: rgba(230, 255, 8, 1.0); // Text becomes visible on hover
//     width: 350px; // Input stretches to 350px width
//     background: rgba(164, 164, 164, 0.3); // Semi-transparent gray background on hover
//     border-radius: 26px; // Less rounded corners on hover
//     border: 4px solid rgba(255, 255, 255, 0.8); // Slightly transparent white border on hover
// }

// .icon {
//     position: absolute;
//     top: 50%;
//     right: 10px;
//     transform: translate(-50%, -50%);
//     font-size: 26px;
//     color: #ffd52d;
//     transition: .2s;
// }

// .searchbox:hover .icon {
//     opacity: 0; // Icon fades out on hover
//     z-index: -1; // Ensure icon does not interfere visually when input is active
// }
