:host {
  background: #202124;
  display: flex;
  position: relative;

  color: white;
  text-align: center;
  align-items: center;
  overflow: hidden;

  min-height: 216px;
}

p {
  margin: auto;
  font-size: 36px;
}

#video-container {
  height: 100%;

  video {
    display: none;
  }

  canvas {
    transform-origin: top left;
  }
}

.flip {
  transform: scaleX(-1);
}

app-video-controls {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

app-video-help {
  position: absolute;

  top: 16px;
  right: 16px;
}
