<ng-container *ngIf="videoState$ | async as videoState">
  <ng-container *ngIf="poseState$ | async as poseState">
    <ng-container *transloco="let t; read: 'video'">
      <p *ngIf="videoState.error">{{ t('errors.' + videoState.error) }}</p>
      <p *ngIf="!videoState.error && !poseState.isLoaded">{{ 'pose.loading' | transloco }}</p>
    </ng-container>

    <div [hidden]="videoState.error || !poseState.isLoaded" id="video-container">
      <video #video muted playsinline crossorigin="anonymous"></video>
      <canvas #canvas height="100%" width="100%"></canvas>
      <div #stats></div>
      <div class="video-overlay" *ngIf="videoEnded" (click)="replayVideo()">
        <ion-icon name="play-circle-outline"></ion-icon>
      </div>
    </div>

    <!-- [hidden]="videoState.error || !poseState.isLoaded" -->
    <app-animation *ngIf="animatePose$ | async"></app-animation>

    <app-video-controls *ngIf="displayControls"></app-video-controls>
  </ng-container>
</ng-container>
