<ng-container *transloco="let t; read: 'settings'">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{ t('title') }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ t('title') }}</ion-title>
      </ion-toolbar>
    </ion-header>
    @for (group of groups; track group) {
    <ion-list>
      <ion-list-header>
        <ion-label>{{ t(group.name + '.title') }}</ion-label>
      </ion-list-header>
      @for (page of group.pages; track page) {
      <ion-nav-link router-direction="forward" [component]="page.component">
        <ion-item [button]="true">
          <ion-icon slot="start" [name]="page.icon" color="dark" />
          <ion-label>{{ t(group.name + '.' + page.path + '.title') }}</ion-label>
        </ion-item>
      </ion-nav-link>
      }
    </ion-list>
    }
  </ion-content>
</ng-container>
