<div id="hero-grid">
  <div>
    <ion-badge color="light">AI-Powered Translation</ion-badge>
    <h1>
      Glimpse into the <br />
      future of <span>accessibility</span>
    </h1>
    <p>
      Translate anything into sign language, <br />
      using machine learning.
    </p>
    <ion-button routerLink="/" shape="round" color="primary">
      Try it out
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button routerLink="/about#competition" shape="round" color="light"> Discover Competition </ion-button>
  </div>
  <img src="assets/promotional/about/hero.webp" [alt]="'landing.about.hero.img' | transloco" />
</div>
