ion-button {
  --border-width: 1px;
  text-transform: none;

  &.selected {
    border-radius: var(--border-radius);
    background-color: rgba(166, 66, 244, 0.08);
  }

  --ion-color-base: var(--ion-color-primary-accessible-text) !important;
}
