@use '@angular/material' as mat;
@use '../../../../../theme/variables' as theme;

button {
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  @media (prefers-color-scheme: light) {
    color: mat.get-color-from-palette(map-get(theme.$app-color, primary), 800) !important;
  }

  &.selected {
    background-color: rgba(66, 133, 244, 0.12);
  }
}
