<app-about-hero id="hero"></app-about-hero>
<app-about-direction id="direction"></app-about-direction>
<app-about-objectives id="objectives"></app-about-objectives>
<app-about-benefits id="benefits"></app-about-benefits>
<app-about-appearance id="appearance"></app-about-appearance>
<app-about-api id="api"></app-about-api>
<app-about-offline id="offline"></app-about-offline>
<app-about-pricing id="pricing"></app-about-pricing>
<app-about-customers id="customers"></app-about-customers>
<app-about-team id="team"></app-about-team>
<app-about-faq id="faq"></app-about-faq>
<app-stores></app-stores>
