<span dir="ltr">
  <a href="https://apps.apple.com/us/app/apple-store/idXXXXXXX" target="_blank">
    <img src="assets/promotional/stores/app-store-badge-light.svg" alt="App Store" class="apple light" />
    <img src="assets/promotional/stores/app-store-badge-dark.svg" alt="App Store" class="apple dark" />
  </a>
  <a href="https://play.google.com/store/apps/details?id=mt.sign.translate" target="_blank">
    <img src="assets/promotional/stores/google-play-badge.svg" alt="Google Play Store" class="google" />
  </a>
</span>
