:host {
  display: flex;
  align-items: end;
  font-size: 1.2em;
  gap: 8px;
}

a {
  display: flex;
  align-items: end;
  color: unset;
  text-decoration: none;
}

img {
  height: 1em;
  display: block;
}

.nagish-logo {
  img {
    height: 1em;
  }
}
