:host {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

a {
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: unset;
  text-decoration: none;
}

img {
  height: 1em;
  display: block;
}
