:host {
  background-color: #f5f5f5;
  position: relative;
  aspect-ratio: 1;

  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }
}

app-skeleton-pose-viewer {
  height: 100%;
  display: flex;
  align-items: center;
}

video {
  display: block;
}
