<ng-container *transloco="let t; read: 'translate.spoken-to-signed.progress-bars.human-pose-viewer'">
  <ion-progress-bar
    *ngIf="modelReady && !ready"
    [value]="progress"
    [attr.aria-label]="t('generating')"></ion-progress-bar>

  <pose-viewer
    #poseViewer
    [attr.src]="src"
    [attr.autoplay]="false"
    [attr.loop]="false"
    [attr.background]="appearance$ | async"
    thickness="1"
    width="256px"
    height="256px"></pose-viewer>

  <ion-spinner *ngIf="!modelReady" [attr.aria-label]="t('loading')" color="primary"></ion-spinner>

  <canvas #canvas width="768" height="768"></canvas>
</ng-container>
