<mat-progress-bar *ngIf="!ready" mode="determinate" [value]="progress()"></mat-progress-bar>

<pose-viewer #poseViewer
             [attr.src]="src"
             [attr.autoplay]="false"
             [attr.loop]="false"
             background="#ffc8c8"
             thickness="1"
             padding="10%"
             width="256px"
             height="256px"></pose-viewer>
<!--
c8c8ff
ffc8c8
-->

<mat-spinner *ngIf="!modelReady"></mat-spinner>

<canvas #canvas width="256" height="256"></canvas>
