:host {
  display: flex;
  height: 100%;
}

pose-viewer {
  display: none;
}

canvas {
  width: 100%;
  display: block;
  align-self: center;
}

ion-progress-bar {
  position: absolute;
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
