@use '../../../../theme/breakpoints' as breakpoints;

:host {
  display: grid;
  width: 100%;
  grid-template-areas: 'spoken signwriting signed';
  grid-template-columns: auto 100px 50%;

  @media #{breakpoints.$breakpoint-lt-sm} {
    grid-template-areas: 'signed signed' 'spoken signwriting';
    grid-template-columns: auto 100px;

    app-signed-language-output {
      border-bottom: 1px solid var(--app-divider-color);
    }
  }

  > *:not(:last-child) {
    border-inline-end: 1px solid var(--app-divider-color);
  }
}

app-sign-writing {
  @media #{breakpoints.$breakpoint-lt-sm} {
    border: none !important;
    height: 195px;
  }
}

app-signed-language-output {
  grid-area: signed;
}
