@import "../../../../theme/variables";

:host {
  display: grid;
  width: 100%;
  grid-template-areas: "spoken signwriting signed";
  grid-template-columns: auto 100px 50%;

  @media #{$mat-lt-sm} {
    grid-template-areas: "spoken signwriting" "signed signed";
    grid-template-columns: auto 100px;

    .sign-language {
      border-top: 1px solid map-get($mat-light-theme-foreground, divider);

      @media (prefers-color-scheme: dark) {
        border-top: 1px solid map-get($mat-dark-theme-foreground, divider);
      }
    }
  }

  > *:not(:last-child) {
    border-right: 1px solid map-get($mat-light-theme-foreground, divider);

    @media (prefers-color-scheme: dark) {
      border-right: 1px solid map-get($mat-dark-theme-foreground, divider);
    }
  }
}

.translation-text {
  padding: 20px 24px;
  color: #878787;
  line-height: 32px;
  flex: 1;

  textarea {
    background-color: transparent;
    font-size: 24px;
    line-height: 32px;
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    resize: none;
    outline: none;

    @media (prefers-color-scheme: dark) {
      color: map-get($mat-dark-theme-foreground, text);
    }
  }

  > div {
    display: flex;
  }

  #char-count {
    flex-grow: 1;
    align-self: center;
    text-align: end;
    font-size: 12px;
  }
}

.sign-language {
  grid-area: signed;
  background-color: #f5f5f5;

  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }
}

pose-viewer {
  display: block;
}
