<ng-container *transloco="let t; read: 'settings.support.about'">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [text]="'settings.title' | transloco"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ t('title') }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ t('title') }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      @for (page of legalPages; track page) {
      <ion-item [routerLink]="['/legal', page]" queryParamsHandling="preserve">
        <ion-label>{{ 'legal.' + page + '.title' | transloco }}</ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-content>
</ng-container>
