@use '../../../../theme/breakpoints' as breakpoints;

:host {
  padding: 34px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}

#contribute-header {
  padding: 16px;
}

.cards-container {
  ion-card {
    display: flex;
    flex-direction: column;
  }

  ion-card-content {
    flex-grow: 1;
  }

  ion-card-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  ion-button {
    color: var(--ion-color-primary-accessible-text);
  }
}
