@import '../../../../theme/variables';

:host {
  padding: 34px 0;
  display: block;
}

#contribute-header {
  padding: 16px;
}

.cards-container {
  ion-card-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
