:host {
  display: flex;
  align-items: center;
  width: 100%;

  &.spoken-to-signed {
    flex-direction: row-reverse;
  }
}

app-language-selector {
  width: calc(50% - 18px);
}

#translation-direction {
  width: 36px;
  flex-shrink: 0;
  font-size: 20px;
  color: var(--ion-color-medium);
}
