<app-language-selector
  [flags]="true"
  [hasLanguageDetection]="false"
  [languages]="translation.signedLanguages"
  [language]="signedLanguage$ | async"
  translationKey="signedLanguagesShort"
  (languageChange)="setSignedLanguage($event)"></app-language-selector>

<ion-icon name="arrow-forward" id="translation-direction" aria-hidden="true" />

<app-language-selector
  [hasLanguageDetection]="false"
  [languages]="translation.spokenLanguages"
  [language]="spokenLanguage$ | async"
  translationKey="languages"
  (languageChange)="setSpokenLanguage($event)"></app-language-selector>
