<ng-container *transloco="let t; read: 'settings.other.appearance'">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [text]="'settings.title' | transloco"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ t('title') }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ t('title') }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <app-settings-appearance-images />

    <p>
      <u>Note</u>: Supporting custom photos is possible.<br />
      However, not a current priority. <br />
      <a href="https://github.com/sign/translate/issues/33" target="_blank">GitHub Issue</a>.
    </p>
  </ion-content>
</ng-container>
