<ng-template #nodeTemplate let-node>
  <span class="node-label" *ngIf="node.name">{{ nodeLabel(node) }}</span>
  <span class="node-label" *ngIf="!node.name">{{ node.path.split('/').pop() }}</span>
  <ng-container *ngIf="node.size !== null">
    <span *ngIf="node.size">{{ node.size | filesize }}</span>
    <mat-progress-spinner
      *ngIf="node.progress"
      mode="determinate"
      [value]="node.progress * 100"
      [diameter]="20"></mat-progress-spinner>

    <button
      mat-icon-button
      color="accent"
      [attr.aria-label]="'settings.other.offline.actions.reDownload' | transloco"
      *ngIf="node.exists"
      (click)="reDownload(node)">
      <mat-icon>cached</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      [attr.aria-label]="'settings.other.offline.actions.delete' | transloco"
      *ngIf="node.exists"
      (click)="deleteCache(node)">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      [attr.aria-label]="'settings.other.offline.actions.download' | transloco"
      *ngIf="!node.exists && !node.progress"
      (click)="download(node)">
      <mat-icon>download</mat-icon>
    </button>
  </ng-container>
</ng-template>

<mat-tree [dataSource]="filesTree" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled [attr.aria-hidden]="true"></button>
    <ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: node}"></ng-container>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
    <div class="folder">
      <button
        mat-icon-button
        matTreeNodeToggle
        [disabled]="node.children.length === 0"
        [attr.aria-label]="'settings.other.offline.actions.toggle' | transloco: {label: nodeLabel(node)}">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: node}"></ng-container>
    </div>
    <div [hidden]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>

<br />
<br />
<br />
<br />
<div style="text-align: center">(Currently, this page does not check if the files are up to date.)</div>
